@model CourseViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div data-thumb="@Model.PictureUrl">
                            <img src="@Model.PictureUrl" alt="@Model.Name" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h3>@Model.Name</h3>
                    <h2>@Model.Price ₺</h2>
                    <ul class="list">
                        <li>
                            <span>Category</span> : @Model.Category.Name
                        </li>
                    </ul>
                    <p>
                        @Model.Description
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <a asp-controller="Basket" asp-action="AddBasketItem" asp-route-id="@Model.Id" class="btn_3">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
