
@{
    ViewData["Title"] = "Index";
}
@model BasketViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shopping Cart</h5>
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BasketItems)
                            {
                                <tr>
                                    <td>@item.CourseName</td>
                                    <td>@item.CurrentPrice @(Model.HasDiscount ? $"(%{Model.DiscountRate.Value} discount applied.)" : "")</td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-id="@item.CourseId">Delete</a>
                                    </td>
                                </tr>
                            }

                            @if (Model.HasDiscount)
                            {
                                <tr>
                                    <td>Discount Rate</td>
                                    <th colspan="2">%@Model.DiscountRate.Value</th>
                                </tr>
                            }

                            <tr>
                                <td>@(Model.HasDiscount ? "Total Discounted Price" : "Total Price")</td>
                                <th colspan="2">@Model.TotalPrice</th>
                            </tr>
                        </tbody>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" discount code applied.
                                <a asp-controller="Basket" asp-action="CancelAppliedDiscount">(Cancel)</a>
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="DiscountApplyInput.Code" />
                            <button class="btn btn-outline-secondary" type="submit">Apply</button>
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <span class="text-danger">Invalid discount code.</span>
                        }

                        @if (TempData["discountError"] != null)
                        {
                            <span class="text-danger">@TempData["discountError"]</span>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Checkout</a>
                    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Keep Shopping</a>
                }
                else
                {
                    <div class="alert alert-info">Your cart is empty.</div>
                }
            </div>
        </div>
    </div>
</div>
