
@{
    ViewData["Title"] = "Detail";
}
@model CourseViewModel

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <img class="card-img-top" src="@Model.PictureUrl" alt="@Model.Name" />
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Price: @Model.Price</h4>
                <div class="d-grid">
                    <a class="btn btn-primary" asp-controller="Basket" asp-action="AddBasketItem" asp-route-id="@Model.Id">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

