
@{
    ViewData["Title"] = "Index";
    var counter = 0;
}
@model List<CourseViewModel>

<h2>Courses</h2>
<hr />
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        counter++;
        @if (counter == 1 || counter % 3 == 1)
            @Html.Raw("<div class='row row-cols-1 row-cols-md-3 g-4 mb-3'>")

        <div class="col">
            <div class="card">
                <img src="@item.PictureUrl" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.ShortDescription</p>
                    <h4>@item.Price</h4>
                    <a class="btn btn-info" href="#">Detail</a>
                </div>
            </div>
        </div>

        @if (counter % 3 == 0)
            @Html.Raw("</div>")
    }
}
